/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./form-styles.css');
@import url('./gallery-styles.css');
@import url('./loader-styles.css');
@import url('./iziToast-styles.css');
@import url('./load-more-btn-styles.css');